@import "_reset.scss";
@import "mixins";

html {
  font-size: 1vw;
}
body {
  font-family: 'Roboto Mono', monospace;
}

.header, .footer {
  width: 100vw;
  height: 7vh;
  background-color: #383838
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 86vh
}

.container-btns {
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #383838;
}

.container-text {
  width: 80%;
  background-color: #383838;
  textarea {
    width: 85%;
    margin: 0 auto;
    padding: 1vw;
    background-color: #181818;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px
  }
  #drop-zone {
    border: 5px solid blue;
    width:  200px;
    height: 100px;
  }
}

.btn {
  @include button-sort;

  &:hover {
    @include button-hover;
  }

  &:active {
    @include button-active;
  }
}

::selection {
  background-color: #d3d3d3;
}

.checkbox {
  font-size: 1rem;
  color: #d3d3d3;
  width: 70%;
  text-align: center;
  margin-left: 1vw;
  cursor: pointer;
  position: relative;
    input {
      position: absolute;
      left: -2.3vw;
      top: -.2vw;
      width: 1.5vw;
      height: 1.5vw
    }
}
